---
layout: home
permalink: /
title: ""
excerpt: "Behzad Tabibian personal webpage."
search_omit: true
headline: ""
layout: single
author_profile: true
---
    <p align="justify">
      I am CEO/Co-Founder of <a target="_blank"  href="https://reason.al">Reasonal Inc</a>. I am passionate about solving some of the most important problems related to spread misinformation and lack of civility on online discourse using Machine Learning. Previously, I was a PhD student at <a target="_blank" href="https://is.tuebingen.mpg.de">Max Planck Institute for Intelligent Systems</a>.</p>

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_news | default: "Recent Posts" }}</h3> -->

{% for post in site.data.news  %}
  {% include news-single.html %}
{% endfor %}
<div  id="main_imagediv">
{% include figure image_path="./images/tunnel.JPG" onclick="hide_image()"%}
</div>

<div id="qoutediv" style="display: none;">
<blockquote style="font-style: normal; font-variant:small-caps;" align="justify" > Therefore the seeker after the truth is not one who studies the writings of the ancients and, following his natural disposition, puts his trust on them, but rather the one who suspects his faith in them and questions what he gathers from them, the one who submits to argument and demonstration, and not to the sayings of a human being whose nature is fraught with all kinds of imperfection and deficiency.<br>
Thus the duty of man who investigates the writings of scientists, if learning the truth is his goal, is to make himself an enemy of all that he reads, and, applying his mind to the core and margins of its content, attack it from every side. <br>
He should also suspect himself as he performs his critical examination of it, so that he may avoid falling into either prejudice or leniency. </br> <a href="http://en.wikipedia.org/wiki/Alhazen"> Ibn al Haytham </a> 965-1040 </blockquote>
</div>

