---
layout: home
excerpt: "Shervin Safavi personal webpage."
author_profile: true
---

<p align="justify">
I'm a system and computational neuroscientist. I started my scientific journey with Physics, and after my undergrad in Physics I continued with neuroscience. I did my PhD in <a target="_blank" href="https://www.kyb.tuebingen.mpg.de/2549/en">Max Planck Institute for Biological Cybernetics</a>, in Logothetis lab and a short post-doc in <a target="_blank" href="https://www.kyb.tuebingen.mpg.de/computational-neuroscience">Peter Dayan's lab</a>. I recently started my group, Computational Machinery of Cognition (CMC) lab (cmclab.org). 
</p>


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_news | default: "Recent news" }}</h3>


{% for post in site.data.news limit:3 %}
{% include news-single.html %}
{% endfor %}


