---
layout: home
excerpt: "Shervin Safavi personal webpage."
author_profile: true
---

<p align="justify">
I'm a system and computational neuroscientist [in training]. I started my scientific journey from Physics, and after my undergrad in Physics I continued with neuroscience. I did my PhD in <a target="_blank" href="https://www.kyb.tuebingen.mpg.de/2549/en">Max Planck Institute for Biological Cybernetics</a>, in Logothetis lab with theme of establishing a bridge between different scales by exploting the cooperative neural activities. At the moment, I'm a post-doc in <a target="_blank" href="https://www.kyb.tuebingen.mpg.de/computational-neuroscience">Peter Dayan's lab</a> and doing computational pychiatry. Feel free to check my broader research
<a target="_blank" href={% link _pages/research/research.md %}>here</a>.
<!-- [page inside research]({% link _pages/research/research.md %}). -->
</p>


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_news | default: "Recent news" }}</h3>


{% for post in site.data.news limit:3 %}
{% include news-single.html %}
{% endfor %}


