---
layout: home
title: "Shervin Safavi"
excerpt: "Shervin Safavi personal webpage."
author_profile: true
---

<p align="justify">
  I am CEO/Co-Founder of <a target="_blank"  href="https://reason.al">Reasonal Inc</a>. I am passionate about solving some of the most important problems related to spread misinformation and lack of civility on online discourse using Machine Learning. Previously, I was a PhD student at <a target="_blank" href="https://is.tuebingen.mpg.de">Max Planck Institute for Intelligent Systems</a>.</p>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_news | default: "Recent news" }}</h3>


{% for post in site.data.news limit:2 %}
{% include news-single.html %}
{% endfor %}


