{% if post.image %}
  {% assign teaser = post.image %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% assign title = post.title %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <h3 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | absolute_url }}" rel="permalink"></a>
      {% else %}
        <a href="{{ post.url | absolute_url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h3>
    <h6 class="archive__date" itemprop="date"><time datetime="{{ post.date | date_to_xmlschema }}" style="text-align:right">{{ post.date | date: "%B %d,  %Y" }}</time></h6>

    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}
    {% if post.abstract %}<p class="archive__item-excerpt" itemprop="description">{{ post.abstract}}</p>{% endif %}

  </article>
</div>
